.about-container {
  background-color: rgb(175, 175, 175);
  padding: 5rem 2rem;
  .intro-container {
    text-align: center;
  }
}

.skills-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;

  .skills {
    @include buttons;
    cursor: default;
    background-color: rgb(194, 194, 194);
    color: rgb(85, 85, 85);
  }
}

@media screen and (min-width: 1200px) {
  .intro-container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    // background-color: purple;
    p {
      padding: 0 3rem;
    }
  }
  .about-content-container {
    display: flex;
    gap: 2rem;
    // background-color: red;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    .about-left {
      flex: 1;
      padding: 0 3rem;
    }
    .about-right {
      flex: 1;
      padding: 0 3rem;
    }
  }
}
