.contact-container {
  position: relative;
  padding: 5rem 2rem;
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-bottom: 2rem;
  }
  .form-container {
    background-color: $light-gray;
    border-radius: 0.5rem;
    padding: 2rem;
    max-width: 600px;
    width: 90%;
    form {
      display: flex;
      flex-direction: column;
      input {
        box-sizing: border-box;
        padding: 1rem;
        font: inherit;
        border: none;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
      #message {
        height: 200px;
        font: inherit;
        padding: 1rem;
        border: none;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        resize: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
      button {
        @include buttons;
        width: 200px;
        margin-top: 1.5rem;
        align-self: center;
      }
      button:hover {
        @include btnHover;
      }
      .form-labels {
        margin-bottom: 1rem;
      }
    }
  }
}
