.header-container {
  //   background-color: rgb(185, 185, 185);
  // background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }
  P {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 2rem;
    letter-spacing: 1px;
  }
  a {
    @include buttons;
    font-size: 1.2rem;
    padding: 1.5rem 4rem;
    letter-spacing: inherit;
    text-transform: uppercase;
    width: 8rem;
    margin: auto;
    text-align: center;
  }
  a:hover {
    @include btnHover;
  }

  .header-left {
    text-align: center;
    letter-spacing: 2px;
  }

  .header-right {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    display: flex;
    max-width: 1400px;
    a {
      margin: initial;
    }
    .header-left {
      flex: 1;
      // background: purple;
      text-align: start;
    }

    .header-right {
      display: block;
      flex: 1;
      // background-color: green;
      text-align: center;
      img {
        max-width: 80%;
      }
    }
  }
}
