/* ----- navbar ----- */

// .navbar {
//   box-shadow: 0px 15px 32px 20px rgba(238, 238, 238, 0.5);
// }

.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: $primary-color;
  transition: all 0.3s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.transparent {
  background-color: transparent;
  box-shadow: none;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 1rem;
  .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 1px;
  }
  .menu-icons {
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    .fa-xmark {
      position: absolute;
    }
    .hide-icon {
      display: none;
    }
  }
  .menu-icons:hover {
    color: $cta-color;
  }
}

.links {
  // background-color: $primary-color;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  li {
    text-align: center;
    // border-bottom: 1px solid #eee;
    a {
      display: block;
      padding: 1.5rem;
      // background-color: $cta-color;
      // color: $primary-color;
    }
    // a:hover {
    //   background-color: $primary-color;
    //   color: $cta-color;
    // }
  }
  // li:first-child {
  //   border-top: 1px solid #eee;
  // }
}
.links-show {
  opacity: 1;
  height: 16rem;
}

@media screen and (min-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 4rem;
  }
  .nav-header {
    // need more specific path for display: none; to work
    .menu-icons {
      display: none;
    }
  }

  .links {
    display: flex;
    opacity: 1;
    height: auto;
    li {
      border: 0;
      padding-left: 0rem;
    }
    li:first-child {
      border-top: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-left: 5rem;
  }
  .links {
    padding-right: 5rem;
    li {
      padding-left: 1rem;
    }
  }
}

// nav mobile link color
@media screen and (max-width: 600px) {
  .links {
    a {
      background-color: $cta-color;
      color: $primary-color;
    }
    a:hover {
      background-color: $primary-color;
      color: $cta-color;
    }
  }
}
