// google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

// .container {
//   position: relative;
// }

// also contains navbar
.hero-container {
  height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #00a8ff;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5rem;
}

// import sections
@import 'nav';
@import 'hero';

.about-container {
  background-color: rgb(175, 175, 175);
  padding-top: 5rem;
  .intro-container {
    text-align: center;
  }
}
